<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>scandisk report</title>
  <link rel="stylesheet" href="themes/default/style.min.css" />
</head>
<body>
  <div id="jstree">
  </div>
  <script src="jquery.1.12.1.min.js"></script>
  <script src="jstree.min.js"></script>
  <script>
  $('#jstree').jstree({ 'core' : {
      'data' : [
      {{ .Data }}
      ]
  }});
  </script>
</body>
</html>
